.input-group.input-group-outline.is-filled .form-label+.form-control, .input-group.input-group-outline.is-focused .form-label+.form-control {
    border-color: rgb(9, 9, 65) !important;
    border-top-color: transparent !important;
    box-shadow: inset 1px 0 blue, inset -1px 0 blue, inset 0 -1px blue
}

.input-group.input-group-outline.is-filled .form-label, .input-group.input-group-outline.is-focused .form-label {
    width: 100%;
    height: 100%;
    font-size: .6875rem !important;
    color: blue !important;
    display: flex;
    line-height: 1.25 !important
}

.input-group.input-group-dynamic.is-focused label, .input-group.input-group-static.is-focused label {
    color: blue
}

.input-group.input-group-outline.is-filled .form-label:after, .input-group.input-group-outline.is-filled .form-label:before, .input-group.input-group-outline.is-focused .form-label:after, .input-group.input-group-outline.is-focused .form-label:before {
    opacity: 1;
    border-top-color: blue;
    box-shadow: inset 0 1px blue;
}

/* .bg-gradient-primary {
    background-image: linear-gradient(195deg, rgb(89, 89, 236), rgb(9, 9, 65));
}

.btn-primary, .btn.bg-gradient-primary {
    box-shadow: 0 3px 3px 0 rgba(9, 9, 65, .15), 0 3px 1px -2px rgba(9, 9, 65, .2), 0 1px 5px 0 rgba(9, 9, 65, .15)
}

.btn-primary:hover, .btn.bg-gradient-primary:hover {
    background-color: rgb(9, 9, 65);
    border-color: rgb(9, 9, 65);
    box-shadow: 0 14px 26px -12px rgba(9, 9, 65, .4), 0 4px 23px 0 rgba(9, 9, 65, .15), 0 8px 10px -5px rgba(9, 9, 65, .2)
} */

.addButton {
    background-image: linear-gradient(195deg, rgb(89, 89, 236), rgb(9, 9, 65));
    box-shadow: 0 3px 3px 0 rgba(9, 9, 65, .15), 0 3px 1px -2px rgba(9, 9, 65, .2), 0 1px 5px 0 rgba(9, 9, 65, .15) !important
}

.addButton:hover{
    background-color: rgb(9, 9, 65) !important;
    border-color: rgb(9, 9, 65) !important;
    box-shadow: 0 14px 26px -12px rgba(9, 9, 65, .4), 0 4px 23px 0 rgba(9, 9, 65, .15), 0 8px 10px -5px rgba(9, 9, 65, .2) !important
}

